*{
    font-family: Tahoma, Verdana, Arial, sans-serif;   
}
div, header, main, footer, nav, ul, li {
    margin: 0;
    padding: 0;
    
}

#container {
    width: 80%;
    margin: 0 auto;
}

header, main, footer {
    display: inline-block;
    width: 100%;
}

header {
    max-height: 200px;

}
header > div {
    width: 30%;
    display: inline-block;
}
header > nav {
    width: 65%;
    display: inline-block;
    text-align: right;
}
header > nav > ul {
    list-style: none;
}
header > nav > ul > li {
    display: inline-block;
}
header > nav > ul > li > a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    background-color: #669932;
    text-decoration: none;
}
header > nav > ul > li > a:hover {
    background-color: #99cb35;
}

main {
    border-radius: 15px;
    background-color: #dbecb9;
    margin: 15px;
    padding: 15px;
    width: 93%;
}

footer {
    height: 100px;
}
footer > nav {
    width: 65%;
    display: inline-block;
    text-align: left;
}
footer > nav > ul {
    list-style: none;
}
footer > nav > ul > li {

}